.vscode
node_modules/
venv/
env/
.env
envs/
logs/*
app.sh
envs
logs
debug.log
*.pyc
.idea/
staticfiles/
config.json
otp_logs.log
sendchamp_logs.log
registaration.log
config.json
clelerybeat-schedule